<div class="row">
  <div class="col-md-4 mx-auto">
    <%= form_with model: post, url: posts_path, method: :post do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      
      <div class="mb-2">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-2">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="mb-2">
        <%= f.label :explanation %>
        <%= f.text_area :explanation, row: 5, class: "form-control" %>
      </div>

      <%= f.submit "投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>